/* Gallery.css */
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: #991b1b;
  background-color: rgba(0, 0, 0, 0.728);
  font-size: 24px;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-prev::after,
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-next::after {
  width: 16px;
  height: 16px;
  border-block-width: 5px 0;
  border-inline-width: 5px 0;
  margin-top: 10px;
  margin-left: 8px;
}

.ant-carousel .slick-prev {
  left: 16px;
}

.ant-carousel .slick-next {
  right: 16px;
}
